@use '../styles/variables' as *;

.collapse {
  margin: 1rem 0;
  .collapse-header {
    background: $light-bg;
    border: none;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .collapse-content {
    padding: 0.5rem;
    background: $light-bg;
  }
}
